* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.waves {
    position: relative;
    bottom: -36px;
    opacity: 50%;
}

.waves2 {

    position: absolute;
    bottom: 0;
    opacity: 70%;
}

.formulario {
    position: absolute;
    z-index: 1;
    width: 400px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    /* background-color: rgb(22, 29, 58); */
    display: flex;
    background-image: linear-gradient(15deg, #0a283a 0%, #02a08d 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    overflow: hidden;

}

::placeholder {
    color: #96e9df;
}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}


.espacio-input {
    margin-top: 20px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.espacio-input2 {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;


}

.espacio-input i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: -30px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 1, 7, 0.616);
}


.espacio-input input {
    width: 90%;
    border: none;
    outline: none;
    background: none;
    background-color: rgba(253, 253, 253, 0.096);
    border: 2px solid transparent;
    padding: 9px;
    border-radius: 50px;
    padding-left: 40px;
    color: rgb(184, 221, 253);


}

.espacio-input2 input {
    width: 90%;
    border: none;
    outline: none;
    background: none;
    background-color: rgba(253, 253, 253, 0.096);
    border: 2px solid transparent;
    padding: 9px;
    border-radius: 50px;
    padding-right: 30px;
    padding-left: 60px;
    color: rgb(184, 221, 253);



}

.espacio-input2 i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: -30px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 1, 7, 0.616);
}

.btn {
    padding: 10px;
    width: 70%;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(22, 29, 58);
    font-size: 17px;
    margin-top: 20px;
}